<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us - Book Recommender System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark">
        <div class="container">
            <a class="navbar-brand">My Book Recommender</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/top20">Top 20s</a></li>
                <li><a href="/recommend">Recommend</a></li>
                <li><a href="/aboutus">About Me</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white">About Me</h1>
                <div id="aboutus">I Shagun Goel,the sole developer of the Book Recommender System, which was developed as a part of my mini-project.This system aims to help users discover new books based on their preferences and interests.I trust that you will find this system both valuable and enjoyable as you explore the world of literature.
                    </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; My Book Recommender. All rights reserved.</p>
    </footer>
</body>

</html>
